.first-content, .second-content, .third-content {
    border: 1px solid grey;
    padding: 10px;
    width: 30%;
}

.first-content h1, .second-content h2, .third-content h3 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .first-content, .second-content, .third-content {
        width: 80%;
        margin-top: 4%;
    }
}